services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    environment:
      - CHOKIDAR_USEPOLLING=true
  backend:
    build:
      context: ./backend
    ports:
      - "3001:3001"
    volumes:
      - ./backend/src:/app/src
    depends_on:
      - postgres
  postgres:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: teamrat
      POSTGRES_PASSWORD: RATT4TA7A
      POSTGRES_DB: igivedb
    volumes:
      - ./database:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  prisma-studio:
    build:
      context: ./backend
    working_dir: /app
    env_file:
      - ./backend/.env
    ports:
      - "5555:5555"
    volumes:
      - ./backend:/app
    command: ["npx", "prisma", "studio"]