services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
  backend:
    build:
      context: ./backend
    ports:
      - "3001:3001"
  postgres:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: teamrat
      POSTGRES_PASSWORD: RATT4TA7A
      POSTGRES_DB: igivedb
    volumes:
      - ./database:/var/lib/postgresql/data
    ports:
      - "5432:5432"
